body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #242331;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px; 

    padding: 15px 20px;

    background-color: #2e2d3a; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);

    z-index: 1000;
}

.header h1 {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


.login-box {
    width: 300px;
    padding: 30px;
    background-color:#89909F;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    text-align: center;
}
.login-box form {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #0056b3;
}
